
.btns{
    display: flex;
    justify-content: space-evenly;
    ion-button{
        --border-radius: 10px;
        --background: var(--ion-color-secondary);
        --color: white;
        height: 45px;
        width: 130px;
    }

    margin-bottom: 25px;
}

.demande{
    border: 1px solid #E6A930;;
    border-radius: 7px;

    .header{
        display: flex;
        justify-content: start;
        padding: 5px;
        background-color: #E6A930;

        .title{
            align-self: center;
            color: white;
            margin: 6px;
        }

        
    }
    .commande{
        border-radius: 7px;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        background-color: #FFF7F5;
        align-items: center;
        margin-bottom: 10px;
        .left{
            display: flex;
            flex-direction: column;
            span{
                font-size: 10px;
                color: rgb(99, 99, 99);
            }
        }
        .right{
            color: var(--ion-color-secondary);
        }
        
    }
}

.empty-order{
    margin-top: 100px;
    border: 1px dashed #E6E6E6;
    padding-top: 70px;
    padding-bottom: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #6B6B6B;
    ion-icon{
        font-size: 75px;
        color: #E6E6E6;
        opacity: 52%;
    }
}

.empty-order-btns{
    display: flex;
    justify-content: space-evenly;
    ion-button{
        --border-radius: 10px;
        --background: var(--ion-color-secondary);
        --color: white;
        height: 135px;
        width: 130px;
    }

    .clear{
        --background: white;
        --color:  var(--ion-color-secondary);
        border: 1px solid var(--ion-color-secondary);
        --border-radius: 10px;
    }

    margin-top: 25px;
}